#title-footer {
  background: rgba(0, 0, 0, 0);
}

.reveal section img {
  border: 0;
  box-shadow: none;
}

.reveal .small-text {
  font-size: 40%
  color: gray;
}

.reveal .small-text a {
  color: gray;
}
